<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <p><a href="/inventory/broken" title="Will trigger intentional exception">Error Link</a></p>
</footer>