    <% const d = new Date()
    let year = d.getFullYear() %>
    <footer>
        <p><a href="/account/tickets">Create Ticket</a></p>
        <p><a href="/">Go back to safety!</a></p>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    </footer>
</div>